.header-about {
   min-height: 30vh;
   background-image: url(Images/about_1.webp);
   background-size: contain;
   background-position: right center;
   background-repeat: no-repeat;
}

.header-opportunities {
   min-height: 30vh;
   background-image: url(Images/opportunities_1.webp);
   background-size: contain;
   background-position: right center;
   background-repeat: no-repeat;
}

.ar-1 {
   aspect-ratio: 1/1;
}

.object-fit-cover {
   object-fit: cover;
}

.pos-left {
   object-position: left;
}

.pos-top {
   object-position: top;
}

.pos-center {
   object-position: center;
}

/* Carousel Scrolling Classes */
.snap-scroll {
   scroll-snap-type: x mandatory;
}

.snap-scroll > .card {
   scroll-snap-align: start;
   flex-shrink: 0;
}

/* First carousel card left margin */
.card-border {
   border: 1px solid gray;
}

.card {
   margin-right: 30px;
}

.card:last-of-type {
   margin-right: 0px;
}

/* Positions image on top at mobile viewport */
@media screen and (max-width: 767px) {
   .order-media {
      order: 0;
   }
}

/* Opportunities */

.opportunities-card {
   display: grid;
}

.opportunities-card * {
   margin: 0;
}

.opportunities-card img {
   padding: 0;
}

.opportunities-card h3,
.opportunities-card img {
   grid-row: 1;
   grid-column: 1;
}

.opportunities-card h3 {
   align-self: end;
}

/* Large space Class = 90px (column gutter × 3)*/
.mb-lg {
   margin-bottom: 5.625rem;
}
/* Medium space class = 30px (column gutter) */
.mb-md {
   margin-bottom: 1.875rem;
}

.mr-md {
   margin-right: 0.9375rem;
}

/* Small space class = 15px (column gutter ÷ 2) */
.mb-sm {
   margin-bottom: 0.9375rem;
}

.mr-sm {
   margin-right: 0.9375rem;
}

.pb-sm {
   padding-bottom: 0.9375rem;
}

.p-sm {
   padding: 0.9375rem;
}

body section {
   margin-top: 90px;
}
