.sm-header div {
   align-content: flex-start;
   min-height: 30vh;
}

.sm-header * {
   max-width: 75ch;
}

.header-about {
   background-image: linear-gradient(
         rgba(248, 199, 24, 0.25),
         rgba(235, 81, 32, 0.25)
      ),
      url(Images/about_1.webp);
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}

.header-opportunities {
   background-image: linear-gradient(
         rgba(248, 199, 24, 0.25),
         rgba(235, 81, 32, 0.25)
      ),
      url(Images/opportunities_1.webp);
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}

.ar-1 {
   aspect-ratio: 1/1;
}

.object-fit-cover {
   object-fit: cover;
}

.pos-left {
   object-position: left;
}

.pos-top {
   object-position: top;
}

.pos-center {
   object-position: center;
}

/* Carousel Scrolling Classes */
.snap-scroll {
   scroll-snap-type: x mandatory;
}

.snap-scroll > .card {
   scroll-snap-align: start;
   flex-shrink: 0;
}

/* First carousel card left margin */
.card-border {
   border: 1px solid gray;
}

.card {
   margin-right: 30px;
}

.card:last-of-type {
   margin-right: 0px;
}

/* Positions image on top at mobile viewport */
@media screen and (max-width: 767px) {
   .order-media {
      order: 0;
   }
}

/* Opportunities */

.opportunities-card {
   display: grid;
}

.career-img {
   min-height: 20vh;
   object-fit: cover;
   object-position: center;
}

.br-sm {
   border-radius: 0.25rem;
}

.opportunities-card * {
   margin: 0;
}

.opportunities-card img {
   padding: 0;
}

.opportunities-card h3,
.opportunities-card img {
   grid-row: 1;
   grid-column: 1;
}

.opportunities-card h3 {
   align-self: end;
}

.sm-heading {
   font-size: 1rem;
   font-weight: 800;
}

@media screen and (max-width: 767px) {
   /* Image resize on small screens */
   .sm-img {
      max-width: 60%;
      margin: auto auto;
      align-self: center;
      margin-bottom: 0.9375rem;
   }

   /* Header heigth on small screens */
   .header-about div {
      min-height: 45vh;
   }
}

.testimonial-img {
   width: 5rem;
   aspect-ratio: 1/1;
   object-fit: cover;
   border-radius: 100%;
   border: 0.4vh solid black;
}

.card-pink {
   border: 0;
   background-color: rgba(217, 24, 83, 0.3);
}

.quote-pink, .quote-orange, .quote-yellow{
   line-height: 0;
   margin-right: 1rem;
}

.quote-pink {
   color: #d91853;
}

.testimonial-img-pink {
   border-color: #d91853;
}

.card-orange {
   border: 0;
   background-color: rgba(235, 126, 32, 0.3);
}

.quote-orange {
   color: #eb7e20;
}

.testimonial-img-orange {
   border-color: #eb7e20;
}

.card-yellow {
   border: 0;
   background-color: rgba(248, 199, 24, 0.3);
}

.quote-yellow {
   color: #f8c718;
}

.testimonial-img-yellow {
   border-color: #f8c718;
}

.accent-link {
   color: inherit;
   text-decoration: underline;
}
