/* Start of Header */
.index-heading {
    position: relative;
    color: white;
    z-index: 5;
}
.index-subtitle {
    position: relative;
    color: rgb(255, 255, 255);
    z-index: 5;
}
.index-header-social {
    position: relative;
    height: 48px;
    padding-left: 48px;
    padding-right: 48px;
    z-index: 5;
}

.header {
    display: flex;
    flex-direction: row;
    background-image: url("Images/content/content-bg.svg");
    background-size: cover;
    height: 100vh;
    padding-top: 55vh;
}

.header::before {
    content: "";
    position: absolute;
    top: 50vh;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.1)
    );
    z-index: 1;
}
/* End of Header */

/* Start of visit content */



.content-image  {
    border-radius: 10%;
    object-fit: cover;
    border: 5px solid #d91853;
}

0056b3

.dropbtn {
    background-color: #0056b3;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #0056b3;
  }
  
  .dropdown {
    float: right;
    position: relative;
    display: inline-block;
  }

