/****************/
/* Instructions */
/****************/

/* Colours: pink, orange1, orange2, orange3, yellow */
/* Directions: right, left */

/* Combine a direction with a colour and apply the class to your image's parent */
/* i.e 'arrow-container-right-pink' , 'arrow-container-left-orange2' */

.arrow-container-right-pink img,
.arrow-container-left-pink img,
.arrow-container-right-orange1 img,
.arrow-container-left-orange1 img,
.arrow-container-right-orange2 img,
.arrow-container-left-orange2 img,
.arrow-container-right-orange3 img,
.arrow-container-left-orange3 img,
.arrow-container-right-yellow img,
.arrow-container-left-yellow img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    border: 0.6vh solid black;
    position: relative;
    z-index: 2;
}

.arrow-container-right-pink img,
.arrow-container-left-pink img {
    border-color: #d91853;
}

.arrow-container-right-orange1 img,
.arrow-container-left-orange1 img {
    border-color: #eb5120;
}

.arrow-container-right-orange2 img,
.arrow-container-left-orange2 img {
    border-color: #eb7e20;
}

.arrow-container-right-orange3 img,
.arrow-container-left-orange3 img {
    border-color: #f8a918;
}

.arrow-container-right-yellow img,
.arrow-container-left-yellow img {
    border-color: #f8c718;
}

/* *********************************** */
/* If your container is pointing right */
/* *********************************** */

/* Pink Arrow */
.arrow-container-right-pink::before {
    content: "";
    background-image: url("Images/Arrows/Arrow-Pink.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 25%;
    aspect-ratio: 1/1;
    transform: rotate(135deg);
    top: 78%;
    left: 70%;
    z-index: 1;
}

/* Orange Arrow 1 */
.arrow-container-right-orange1::before {
    content: "";
    background-image: url("Images/Arrows/Arrow-Orange1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 25%;
    aspect-ratio: 1/1;
    transform: rotate(135deg);
    top: 78%;
    left: 70%;
    z-index: 1;
}

/* Orange Arrow 2 */
.arrow-container-right-orange2::before {
    content: "";
    background-image: url("Images/Arrows/Arrow-Orange2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 25%;
    aspect-ratio: 1/1;
    transform: rotate(135deg);
    top: 78%;
    left: 70%;
    z-index: 1;
}

/* Orange Arrow 3 */
.arrow-container-right-orange3::before {
    content: "";
    background-image: url("Images/Arrows/Arrow-Orange3.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 25%;
    aspect-ratio: 1/1;
    transform: rotate(135deg);
    top: 78%;
    left: 70%;
    z-index: 1;
}

/* Yellow Arrow */
.arrow-container-right-yellow::before {
    content: "";
    background-image: url("Images/Arrows/Arrow-Yellow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 25%;
    aspect-ratio: 1/1;
    transform: rotate(135deg);
    top: 78%;
    left: 70%;
    z-index: 1;
}

/* *********************************** */
/* If your container is pointing left  */
/* *********************************** */

/* Pink Arrow */
.arrow-container-left-pink::before {
    content: "";
    background-image: url("Images/Arrows/Arrow-Pink.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 25%;
    aspect-ratio: 1/1;
    transform: rotate(225deg);
    top: 78%;
    z-index: 1;
}

/* Orange Arrow 1 */
.arrow-container-left-orange1::before {
    content: "";
    background-image: url("Images/Arrows/Arrow-Orange1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 25%;
    aspect-ratio: 1/1;
    transform: rotate(225deg);
    top: 78%;
    z-index: 1;
}

/* Orange Arrow 2 */
.arrow-container-left-orange2::before {
    content: "";
    background-image: url("Images/Arrows/Arrow-Orange2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 25%;
    aspect-ratio: 1/1;
    transform: rotate(225deg);
    top: 78%;
    z-index: 1;
}

/* Orange Arrow 3 */
.arrow-container-left-orange3::before {
    content: "";
    background-image: url("Images/Arrows/Arrow-Orange3.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 25%;
    aspect-ratio: 1/1;
    transform: rotate(225deg);
    top: 78%;
    z-index: 1;
}

/* Yellow Arrow */
.arrow-container-left-yellow::before {
    content: "";
    background-image: url("Images/Arrows/Arrow-Yellow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 25%;
    aspect-ratio: 1/1;
    transform: rotate(225deg);
    top: 78%;
    z-index: 1;
}
