/* ///////////////////////////////////// */
/* Screen Size > 767px */
/* @media only screen and (min-width:767.98px) */
/* ///////////////////////////////////// */

/* Images */
.chat-bubble-image {
   width: 80%;
}

/* Buttons */
.btn {
   position: relative;
   display: inline-block;
   padding: 0.75rem 4rem;
   font-size: 1rem;
   font-weight: 800;
   color: white;
   background-color: #007ac3;
   border: none;
   border-radius: 5rem;
   cursor: pointer;
   transition: background-color 0.3s;
}

.btn:hover {
   background-color: #00649e;
   text-decoration: none !important;
   color: white;
}

/* Header */
/* Header background image */
.header-bg {
   background-image: url("Images/header.webp");
   background-size: cover;
   height: 100vh;
   padding-top: 55vh;
}

/* Gradient overlay on header image */
.header-bg::before {
   content: "";
   position: absolute;
   top: 50vh;
   left: 0;
   right: 0;
   bottom: 0;
   background-image: linear-gradient(
      to right,

      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.1)
   );
   z-index: 0;
}

/* Spacing for social media icons on header */
.index-header-social {
   position: relative;
   width: 48px;
   margin-left: 64px;
}

/* About */
.about-bg {
   padding: 100px;
}

/* Opportunities */

/* News */

/* Events */

/* Content */

/* Footer */

/* ///////////////////////////////////// */
/* 575px < Screen Size (576-767) < 768px */
/* @media only screen and (max-width:767.98px) and (min-width:575.98px) */
/* ///////////////////////////////////// */

/* Navbar */

/* Typography */

/* Buttons */

/* Header */

/* About */

/* Opportunities */

/* News */

/* Events */

/* Content */

/* Footer */

/* ///////////////////////////////////// */
/* Screen Size < 576px */
/* @media only screen and (max-width:575.98px)  */
/* ///////////////////////////////////// */

/* Navbar */

/* Typography */

/* Buttons */

/* Header */

/* About */

/* Opportunities */

/* News */

/* Events */

/* Content */

/* Footer */
