.navbar-brand-container {
   display: flex;
}
.navbar-brand {
   width: 44px;
   aspect-ratio: 1/1;
}

.navbar-brand-title {
   align-self: center;
   margin-bottom: 0;
   max-width: 24ch;
   font-size: 0.9375rem;
   white-space: wrap;
}

/* Social Nav Links */
.facebook,
.instagram,
.linkedin {
   /* Space between */
   margin: 0 8px;
}

.facebook a,
.instagram a,
.linkedin a {
   visibility: hidden;
}

.facebook {
   cursor: pointer;
   width: 32px;
   aspect-ratio: 1/1;
   background-repeat: no-repeat;
   background-image: url(Images/Socials/facebook_black.svg);
   background-position: center;
}

.instagram {
   cursor: pointer;
   width: 32px;
   aspect-ratio: 1/1;
   background-repeat: no-repeat;
   background-image: url(Images/Socials/instagram_black.svg);
   background-position: center;
}

.linkedin {
   cursor: pointer;
   width: 32px;
   aspect-ratio: 1/1;
   background-repeat: no-repeat;
   background-image: url(Images/Socials/linkedin_black.svg);
   background-position: center;
}
