/* Text Colours */
.red {
    color: #d91853;
}

.orange1 {
    color: #eb5120;
}

.orange2 {
    color: #eb7e20;
}

.orange3 {
    color: #f8a918;
}

.yellow {
    color: #f8c718;
}

.section {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 110px;
}

.align-left {
    display: flex;
    justify-content: left;
    padding-left: 50px;
}

.align-right {
    display: flex;
    justify-content: right;
    padding-right: 50px;
}
