/* Start of Text Colours */
.red {
    color: #d91853;
}

.orange1 {
    color: #eb5120;
}

.orange2 {
    color: #eb7e20;
}

.orange3 {
    color: #f8a918;
}

.yellow {
    color: #f8c718;
}
/* End of Text Colours */

/* Start of Section Formatting */
.section {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 55px;
    padding-bottom: 55px;
}

.align-left {
    display: flex;
    justify-content: left;
    padding-left: 50px;
}

.align-center {
    display: block;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.align-right {
    display: flex;
    justify-content: right;
    padding-right: 50px;
}

.center-button {
    display: inline-block; /* Makes the margin auto applicable */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}

/* End of Section Formatting */

/* Start of Header */
.index-heading {
    position: relative;
    color: white;
    z-index: 5;
}
.index-subtitle {
    position: relative;
    color: white;
    z-index: 5;
}
.index-header-social {
    position: relative;
    height: 48px;
    padding-left: 48px;
    padding-right: 48px;
    z-index: 5;
}

.header {
    display: flex;
    flex-direction: row;
    background-image: url("Images/header.webp");
    background-size: cover;
    height: 100vh;
    padding-top: 55vh;
}

.header::before {
    content: "";
    position: absolute;
    top: 50vh;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
        to right,

        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.1)
    );
    z-index: 1;
}
/* End of Header */

/* Events */
.events-body {
    margin-left: 20%;
    margin-right: 20%;
}

.event-image-frame {
    position: relative; /* Establishes a positioning context */
    background-image: url("Images/indexbg/events.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Adjusted to center the background image */
    height: 375px; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center; /* Centers the .event-img inside */
}

.event-img-frame {
    width: 100%;
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Removes any extra space below the image */
    z-index: 1;
}

.event-img {
    position: absolute;
    width: 70%; /* Adjust based on your needs */
    aspect-ratio: 1/1;
    border-radius: 50%; /* Creates the circular frame */
    object-fit: cover; /* Ensures the image covers the frame without distortion */
    display: flex;
    overflow: hidden; /* Ensures no part of the image spills outside the circular frame */
    border: 0.6vh solid #f8a918;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
}
/* End of Events */

/* Start of Backgrounds */
.bg-about {
    position: relative;
    background-image: url("Images/indexbg/about.svg");
    background-repeat: no-repeat;
    background-position: right -50vh;
}

.bg-opportunities {
    position: relative;
    background-image: url("Images/indexbg/opportunities.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10vw;
}

.bg-news {
    position: relative;
    background-image: url("Images/indexbg/news.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: calc(100% - 10vw);
}

.bg-content {
    position: relative;
    background-image: url("Images/indexbg/content.svg");
    background-repeat: no-repeat;
    background-position: left 10vh;
}
/* End of Backgrounds */
