/* Start of Text Colours */
.red {
    color: #d91853;
}

.orange1 {
    color: #eb5120;
}

.orange2 {
    color: #eb7e20;
}

.orange3 {
    color: #f8a918;
}

.yellow {
    color: #f8c718;
}
/* End of Text Colours */

/* Start of Section Formatting */
.section {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 55px;
    padding-bottom: 55px;
}

.align-left {
    display: flex;
    justify-content: left;
    padding-left: 50px;
}

.align-center {
    display: block;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.align-right {
    display: flex;
    justify-content: right;
    padding-right: 50px;
}

.center-button {
    display: inline-block; /* Makes the margin auto applicable */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}

/* End of Section Formatting */

/* Start of Header */
/* Screen Size > 767px */
@media only screen and (min-width:767.98px){
.index-heading {
    position: relative;
    color: white;
    z-index: 5;
}
.index-subtitle {
    position: relative;
    color: white;
    z-index: 5;
}
.index-header-social {
    position: relative;
    height: 48px;
    padding-left: 48px;
    padding-right: 48px;
    z-index: 5;
}

.header {
    display: flex;
    flex-direction: row;
    background-image: url("Images/header.webp");
    background-size: cover;
    height: 100vh;
    padding-top: 55vh;
}

.header::before {
    content: "";
    position: absolute;
    top: 50vh;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
        to right,

        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.1)
    );
    z-index: 1;
}
}
/* End of Header */

/* Events */
.events-body {
    margin-left: 20%;
    margin-right: 20%;
}

.event-image-frame {
    position: relative; /* Establishes a positioning context */
    background-image: url("Images/indexbg/events.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Adjusted to center the background image */
    height: 375px; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center; /* Centers the .event-img inside */
}

.event-img-frame {
    width: 100%;
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Removes any extra space below the image */
    z-index: 1;
}

.event-img {
    position: absolute;
    width: 70%; /* Adjust based on your needs */
    aspect-ratio: 1/1;
    border-radius: 50%; /* Creates the circular frame */
    object-fit: cover; /* Ensures the image covers the frame without distortion */
    display: flex;
    overflow: hidden; /* Ensures no part of the image spills outside the circular frame */
    border: 0.6vh solid #f8a918;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
}
/* End of Events */

/* Start of Backgrounds */
.bg-about {
    position: relative;
    background-image: url("Images/indexbg/about.svg");
    background-repeat: no-repeat;
    background-position: right -50vh;
}

.bg-opportunities {
    position: relative;
    background-image: url("Images/indexbg/opportunities.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10vw;
}

.bg-news {
    position: relative;
    background-image: url("Images/indexbg/news.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: calc(100% - 10vw);
}

.bg-content {
    position: relative;
    background-image: url("Images/indexbg/content.svg");
    background-repeat: no-repeat;
    background-position: left 10vh;
}
/* End of Backgrounds */

/* Screen Size < 576px */

@media only screen and (max-width:575.98px){
    header {
        position: fixed;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.9);
    }
    
    .navbar-logo {
        height: 50px;
        aspect-ratio: 1/1;
        margin-right: 10px;
        display: flex;
    }
    
    .navbar-logo-wordmark {
        font-family: "Nunito", sans-serif;
        font-style: normal; 
        font-size: 1.1rem;
        font-weight: 700;
        margin-left: 10px;
        color: #1a1a1a;
      
    }
    .navbar{
        justify-content: flex-start;
    }


    .navbar-logo-wordmark:hover {
        text-decoration: none;
        color: #1a1a1a;
    }
    
    .nav-link {
        font-family: "Montserrat", sans-serif;
        font-size: 1.1rem;
        font-weight: 800;
        color: #1a1a1a;
        margin: 0;
    }
    
    .nav-active {
        color: #007ac3;
    }
    
    .nav-link:hover {
        color: #007ac3;
        cursor: pointer; /* Changes the cursor to a pointer on hover */
        transition: color 0.3s;
    }
    
    .nav-social {
        height: 24px;
        aspect-ratio: 1/1;
    }
}

/* Button */
@media only screen and (max-width:575.98px){
.btn {
    position: relative;
    display: block; /* Allows the button to shrink-wrap its content */
    margin-top: 50px;
    padding: 10px 50px; /* Adjust padding to suit your design, more horizontal padding for a pill shape */
    background-color: #007ac3; /* Example button color, change as needed */
    color: white; /* Text color */
    border: none; /* Removes the default border */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    text-align: center; /* Centers the text inside the button */
    text-decoration: none; /* Removes underline from links if you're styling an <a> tag as a button */
    border-radius: 500px; /* High border-radius value to create the pill shape */
    z-index: 2;
}

.btn-sm {
   z-index: initial;
}

.btn:hover {
    background-color: #00649e;
    transition: background-color 0.3s;
    color: white;
}
}

/* Header */
@media only screen and (max-width:575.98px) {
    .row{
    padding-left: 10vw;
    padding-right: 10vw;
}
    .index-heading {
        position: relative;
        color: white;
        z-index: 5;
    }
    .index-subtitle {
        position: relative;
        color: white;
        z-index: 5;
    }
    .index-header-social {
        position: relative;
        width: 48px;
        margin-top: 24px;
        margin-right: 48px;
        z-index: 5;
    }
    
    .header {
        display: flex;
        flex-direction: row;
        background-image: url("Images/header.webp");
        background-size: cover;
        height: 100vh;
        padding-top: 55vh;
    }
    
    .header::before {
        content: "";
        position: absolute;
        top: 50vh;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(
            to right,
    
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.1)
        );
        z-index: 1;
}
}