.bg-news {
  background-image: url(images/placeholder_image.webp);
  background-size: cover;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.recentnews-image {
  object-fit: cover;
  border-radius: 50%;
  width: 350px;
  aspect-ratio: 1/1;
  margin-left: auto;
  margin-right: auto;
}

.imageBorder-pink {
  border: 4px solid #d91853;
}

.imageBorder-orange1 {
  border: 4px solid #eb5120;
}

.imageBorder-orange2 {
  border: 4px solid #eb7e20;
}

.imageBorder-yellow {
  border: 4px solid #f8c718;
}

.morenews-image {
  object-fit: cover;
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1/1;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: flex;
  align-self: center;
}

.center-button {
  margin: 0 auto;
  display: block;
}
