/**********************************************************************/
/* This file contains typography, text colour, buttons,  navbar and footer styling */
/**********************************************************************/

.container-fluid {
   padding: 0;
}

/* Centering to fix chat bubble triangle */
.vertical-center {
   display: flex;
   align-self: center;
}

/**************/
/* Typography */
/**************/

body {
   font-family: "Nunito", sans-serif;
   font-size: 1rem;
   line-height: 1.5;
   font-weight: 400;
   font-style: normal;
   color: #1a1a1a;
   min-height: 100vh;
}

h4 {
   font-size: 1.75rem;
   font-weight: 700;
}

h1,
.H1-text {
   font-size: 4rem;
   font-weight: 700;
}

h2,
.H2-text {
   font-size: 3rem;
   font-weight: 700;
}

h3,
.H3-text {
   font-size: 2rem;
   font-weight: 700;
}

.p-text {
   font-weight: 400;
}

.subheader1-text {
   font-family: "Nunito Sans", sans-serif;
   font-size: 1.5rem;
   font-weight: 800;
   font-style: italic;
   font-variation-settings: "wdth" 100, "YTLC" 500;
}

.subheader2-text {
   font-family: "Nunito Sans", sans-serif;
   font-size: 1.125rem;
   font-weight: 800;
   font-style: italic;
   font-variation-settings: "wdth" 100, "YTLC" 500;
}

.subheader3-text {
   font-family: "Nunito Sans", sans-serif;
   font-size: 1rem;
   font-weight: 800;
   font-style: italic;
   font-variation-settings: "wdth" 100, "YTLC" 500;
}

.section-pull-quote {
   font-family: "Nunito Sans", sans-serif;
   font-size: 1.125rem;
   font-weight: 800;
   font-style: italic;
   font-variation-settings: "wdth" 100, "YTLC" 500;
}

.body-text {
   font-family: "Montserrat", sans-serif;
   font-size: 1rem;
   font-weight: 400;
   font-style: normal;
   color: #1a1a1a;
}

@media screen and (max-width: 767px) {
   body {
      font-size: 0.875rem;
   }

   h1,
   .H1-text {
      font-size: 2.5rem;
   }

   h2,
   .H2-text {
      font-size: 2.25rem;
   }

   h3,
   .H3-text {
      font-size: 1.5rem;
   }
}

/**************/
/* Text colour */
/**************/

.text-white {
   color: white;
}

.text-pink {
   color: #d91853;
}

.text-orange1 {
   color: #eb5120;
}

.text-orange2 {
   color: #eb7e20;
}

.text-orange3 {
   color: #f8a918;
}

.text-yellow {
   color: #f8c718;
}

/**************/
/* Buttons    */
/**************/

.btn {
   position: relative;
   display: inline-block; /* Allows the button to shrink-wrap its content */
   margin-top: 50px;
   padding: 10px 50px; /* Adjust padding to suit your design, more horizontal padding for a pill shape */
   background-color: #007ac3; /* Example button color, change as needed */
   color: white; /* Text color */
   border: none; /* Removes the default border */
   cursor: pointer; /* Changes the cursor to a pointer on hover */
   text-align: center; /* Centers the text inside the button */
   text-decoration: none; /* Removes underline from links if you're styling an <a> tag as a button */
   border-radius: 500px; /* High border-radius value to create the pill shape */
   z-index: 10;
}

.btn-sm {
   z-index: initial;
}

.btn:hover {
   background-color: #00649e;
   transition: background-color 0.3s;
   color: white;
}

@media screen and (max-width: 576px) {
   .btn {
      width: 100%;
   }
}

/**************/
/* Navbar     */
/**************/

.navbar {
   background-color: rgba(255, 255, 255, 0.9);
}
.nav-link {
   color: #1a1a1a;
   font-family: "Montserrat", sans-serif;
   font-size: 1.1em;
   font-style: normal;
   font-weight: 400;
}

.nav-link:hover {
   color: #007ac3 !important;
   cursor: pointer;
   transition: color 0.3s;
}

.navbar-brand-container {
   display: flex;
}
.navbar-brand {
   width: 44px;
   aspect-ratio: 1/1;
}

.navbar-brand-title {
   align-self: center;
   margin-bottom: 0;
   max-width: 24ch;
   font-size: 0.9375rem;
   white-space: wrap;
}

/* Social Nav Links */
.facebook,
.instagram,
.linkedin {
   /* Space between */
   margin: 0 8px;
}

.facebook a,
.instagram a,
.linkedin a {
   visibility: hidden;
}

.facebook {
   cursor: pointer;
   width: 32px;
   aspect-ratio: 1/1;
   background-repeat: no-repeat;
   background-image: url(Images/Socials/facebook_black.svg);
   background-position: center;
}

.instagram {
   cursor: pointer;
   width: 32px;
   aspect-ratio: 1/1;
   background-repeat: no-repeat;
   background-image: url(Images/Socials/instagram_black.svg);
   background-position: center;
}

.linkedin {
   cursor: pointer;
   width: 32px;
   aspect-ratio: 1/1;
   background-repeat: no-repeat;
   background-image: url(Images/Socials/linkedin_black.svg);
   background-position: center;
}
/**********************/
/* Small Page Header  */
/**********************/

.small-header-bg {
   background-image: linear-gradient(
         to right,
         rgba(0, 0, 0, 0.6),
         rgba(0, 0, 0, 0.1)
      ),
      url("Images/header.webp");
   background-size: cover;
   min-height: 33vh;
   /* Large space Class = 90px (column gutter × 3)*/
   margin-bottom: 5.625rem;
}

.small-header-bg div {
   min-height: 33vh;
}

/**************/
/* Footer     */
/**************/

footer {
   background-color: #007ac3;
}

footer .body-text {
   font-family: "Montserrat", sans-serif;
   font-size: 1rem;
   font-weight: 400;
   font-style: normal;
   color: #ffffff;
}

footer .container {
   padding-top: 55px;
   padding-bottom: 55px;
}
footer img {
   height: 55px;
}

.footer-logo {
   display: flex;
   justify-content: center;
}

.index-footer-social-icon {
   position: relative;
   height: 36px;
   padding-left: 24px;
   padding-right: 24px;
}

@media screen and (max-width: 767px) {
   .index-footer-social {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .footer-logo {
      padding: 1.5rem;
   }
}
