.bg-news {
  background-image: url(images/placeholder_image.webp);
  background-size: cover;
}

.recentnews-image {
  width: 400px;
}

.morenews-image {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
  align-items: center;
}

.center {
  display: flex;
  align-self: center;
}
