.container-fluid {
   padding: 0;
}

.arrow-effect-image {
   height: 100%;
   aspect-ratio: 1/1;
   border-radius: 50%;
   object-fit: cover;
   border: 1vh solid #d91853;
   position: relative;
   z-index: 2;
}

.arrow-effect-container {
   width: 250px;
   aspect-ratio: 1/1;
   position: relative;
   display: inline-block;
}

.arrow-effect-container::before {
   content: "";
   background-image: url("Images/Arrow-Effect.svg");
   background-size: contain;
   background-repeat: no-repeat;
   position: absolute;
   height: 25%;
   aspect-ratio: 1/1;
   transform: rotate(135deg);
   top: 78%;
   left: 75%;
   z-index: 1;
}
